* {
    font-family: "Noto Sans";
    font-size: 14px;
    font-feature-settings: "tnum";
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    transition-property: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#wireplumber {
    padding: 0 10px;
    color: #f0f0ff;
    background-color: rgba(30, 30, 46, 0.6);
    border-radius: 8px;
}

#clock {
    font-weight: bold;
}

#battery {
    margin-left: 4px;
}

#cpu {
    border-radius: 8px 0px 0px 8px;
    padding: 0 0 0 10px;
    margin-left: 4px;
}

#memory {
    border-radius: 0;
    padding: 0 0 0 10px;
}

.niri-taskbar {
    margin-left: 4px;
}

.niri-taskbar button {
    color: #f0f0ff;
    background-color: rgba(30, 30, 46, 0.6);
    min-width: 42px;
}

.niri-taskbar button:first-child {
    border-radius: 8px 0 0 8px;
}

.niri-taskbar button:last-child {
    border-radius: 0 8px 8px 0;
}

.niri-taskbar button:first-child:last-child {
    border-radius: 8px;
}

.niri-taskbar button:hover {
    background-color: rgba(49, 50, 68, 0.6);
}

.niri-taskbar button.active {
    background-color: rgba(88, 91, 112, 0.6);
}

.niri-taskbar button.focused {
    background-color: rgba(0, 0, 0, 0.6);
}

.niri-taskbar button.active:hover {
    background-color: rgba(108, 112, 134, 0.6);
}

#wireplumber {
    background-color: #fff0f5;
    background-color: rgba(30, 30, 46, 0.6);
    border-radius: 0px 8px 8px 0px;
}
